[submodule "smartcontract/lib/account-abstraction"]
	path = smartcontract/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "smartContract/lib/forge-std"]
	path = smartContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
